  body {
      margin: 0;
  }
  
  .maincontainer {
      background-color: rgb(252, 241, 228);
      width: 800px;
      margin: 0 auto;
      box-shadow: 0px 9px 13px 5px;
  }
  
  .header {
      padding: 0px 0px 20px 40px;
  }
  
  img.profile-pic {
      border-radius: 50%;
      height: 200px;
      width: 200px;
      box-shadow: black 8px 8px 9px;
  }
  
  footer {
      padding: 10px 6px 10px 40px;
      background-color: gainsboro;
      font-family: 'Courier New', Courier, monospace;
      font-size: 15px;
      text-align: center;
  }
  
  .education-block {
      max-width: 700px;
      margin: 0 auto 10px auto;
      padding: 5px;
      border: 2px solid #dcd9d9;
      text-align: left;
  }
  
  .bg-1 {
      background-color: rgb(236, 241, 247);
      padding: 30px 20px;
  }
  
  .bg-2 {
      padding: 30px 30px;
  }
  
  .clr {
      color: dimgray;
      font-size: medium;
  }
  
  h2 {
      border-bottom: 3px solid skyblue;
      width: 120px;
  }
  
  #proj {
      border-bottom: 3px solid skyblue;
      width: 100px;
  }
  
  #skl {
      border-bottom: 3px solid skyblue;
      width: 70px;
  }
  
  a:link {
      color: rgb(95, 61, 190);
  }
  /* visited link */
  
  a:visited {
      color: #9706f8;
  }
  /* mouse over link */
  
  a:hover {
      color: #8ebf42;
  }
  /* selected link */
  
  a:active {
      color: #f5112f;
  }
  
  #contact {
      text-align: center;
  }
  
  #skills li {
      display: inline-block;
      margin: 7px;
      padding: 5px 10px;
      color: #374054;
      background: #e4e4ea;
  }
  .sizing {
      font-size: medium;
  }
